body {
    background-color: #7c7f65;
}

p, h3 {
    color: #eae0cc;

}

h3 {
    font-family: 'Limelight', cursive;
}


nav p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.orange-main-c {
    width: 100%;
    align-self: center;
    display: block;
    
}

.orange-main-c hr {
    border-width: 3px;
    border-color: #f5ecda;
    border-radius: 1px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
